# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/settings.json

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
logs/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/